global:
  smtp_smarthost: "{{alertmanager_smtp_smarthost}}"
  smtp_from: "{{alertmanager_smtp_smarthost}}"

route:
  receiver: 'alert-mails'
  group_wait: 30s
  group_interval: 1m
  repeat_interval: 30m

receivers:
  - name: 'alert-mails'
    email_configs:
      - to: "{{alertmanager_smtp_to}}"